.hide{
    display: none;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
}

.icon-bankcard {
    background-image: url("imgs/icon-bankcard.png");
}

.icon-list {
    background-image: url("imgs/icon-list.png");
}

.icon-switch {
    background-image: url("imgs/icon-switch.png");
}

.supposed {
    width: 20px;
    border: solid 20px transparent;
    position: absolute;
    right: 0;
}

#info .amount-board {
    background-color: rgb(255, 101, 0);
    width: 100%;
    text-align: center;
    padding: 40px 0;
    color: white;
}

#info .amount-board h1 {
    font-size: 40px;
}

#info .amount-board p {
    font-size: 12px;
}

#info .row {
    font-size: 14px;
    background: white;
    margin-top: 8px;
    padding: 10px;
    color: #797979;
}

#info .row::before {
    content: '';
    position: absolute;
    background: url("imgs/rightArrow.png") no-repeat center;
    background-size: 35%;
    right: 0;
    width: 15px;
    height: 15px;
    display: block;
    margin: 4px 15px;
}

#info .tip {
    font-size: 12px;
    color: #aaa;
    margin: 15px;
}

#details .tip {
    padding: 10px 0;
    font-size: 14px;
    color: #888888;
    text-align: center;
}

#details .row>p,#details .row>div{
    display: inline-block;
}

#details .row{
    padding: 10px 10px 10px 15px;
    font-size: 12px;
    border-bottom: solid 1px #dddddd;
}

.bank-CMBCCNBS {
    background-image: url(imgs/bank/CMBCCNBS.png);
}

.bank-ICBKCNBJ {
    background-image: url(imgs/bank/ICBKCNBJ.png);
}

.bank-PCBCCNBJ {
    background-image: url(imgs/bank/PCBCCNBJ.png);
}

.bank-SPDBCNSH {
    background-image: url(imgs/bank/SPDBCNSH.png);
}

.bank-ABOCCNBJ {
    background-image: url(imgs/bank/ABOCCNBJ.png);
}

/*'CMBCCNBS'=>1001, //招商银行*/
/*'ICBKCNBJ'=>1002, //工商银行*/
/*'PCBCCNBJ'=>1003, //建设银行*/
/*'SPDBCNSH'=>1004, //上海浦东发展银行*/
/*'ABOCCNBJ'=>1005, //农业银行*/

.bank-FJIBCNBA {
    background-image: url(imgs/bank/FJIBCNBA.png);
}

.bank-BJCNCNBJ {
    background-image: url(imgs/bank/BJCNCNBJ.png);
}

.bank-EVERCNBJ {
    background-image: url(imgs/bank/EVERCNBJ.png);
}

.bank-MSBCCNBJ {
    background-image: url(imgs/bank/MSBCCNBJ.png);
}

.bank-SZCBCNBS {
    background-image: url(imgs/bank/SZCBCNBS.png);
}

/*'FJIBCNBA'=>1009, //兴业银行*/
/*'BJCNCNBJ'=>1032, //北京银行*/
/*'EVERCNBJ'=>1022, //光大银行*/
/*'MSBCCNBJ'=>1006, //民生银行*/
/*'SZCBCNBS'=>1010, //平安银行*/

.bank-SZDBCNBS {
    background-image: url(imgs/bank/SZDBCNBS.png);
}

.bank-COMMCNSH {
    background-image: url(imgs/bank/COMMCNSH.png);
}

.bank-CIBKCNBJ {
    background-image: url(imgs/bank/CIBKCNBJ.png);
}

.bank-GDBKCN22 {
    background-image: url(imgs/bank/GDBKCN22.png);
}

/*'SZDBCNBS'=>1010, //深圳银行*/
/*'COMMCNSH'=>1020, //交通银行*/
/*'CIBKCNBJ'=>1021, //中信银行*/
/*'GDBKCN22'=>1027, //广发银行*/

#mycard .bar{
    background: white;
    margin-top: 8px;
    padding:8px 15px;
}

#mycard .bank-icon{
    margin-left:5px;
    margin-right:15px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
}

#mycard .bank-icon>div{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
}

#mycard .info{
    vertical-align: middle;
    display: inline-block;
}

#mycard .info>p{
    padding:1px;
}

#mycard .info>p:nth-child(1){
    color: #1a1a1a;
    font-size: 16px;
}

#mycard .info>p:nth-child(2){
    color: #1a1a1a;
    font-size: 12px;
}

#mycard .info>p:nth-child(3){
    color: #888888;
    font-size: 12px;
}

#mycard .bank-shade{
    width: 100px;
    height: 70px;
    position: absolute;
    background-repeat:no-repeat;
    background-position:top;
    background-size: cover;
    opacity: 0.1;
    right:0;
    margin:-62px 30px;
}

#mycard .row{
    padding: 3px;
    margin-top: 8px;
    text-align: center;
    background: white;
    font-size: 14px;
}

#mycard .row>*{
    display: inline-block;
    vertical-align: middle;
}

#binding>p{
    color: #888888;
    font-size: 12px;
    padding:10px 10px 0 10px;
    line-height: 20px;
}

#binding>ul{
    position: absolute;
    width: 100%;
    margin-bottom: 100px;
}

#binding li{
    border-left: solid 1px #aaaaaa;
    border-right: solid 1px #aaaaaa;
    border-top: solid 1px #dfdfdf;
    border-bottom: none;
    margin:0 10px;
    padding:5px 15px;
    background-color: #f1f3f3;
}

#binding li:last-child{
    border-radius: 0 0 4px 4px;
    border-bottom: solid 1px #aaaaaa;
}

#binding li>span{
    margin-left: 5px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

#binding>div{
    font-size:16px;
    color: #1a1a1a;
    border:solid 1px #aaaaaa;
    margin:0 10px;
}

#binding>div:nth-child(2){
    margin-top: 10px;
    padding:5px 15px;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}

#binding>div:nth-child(4){
    padding:5px 15px;
    border-radius:0;
}

#binding>div:nth-child(5){
    padding:5px 15px;
    border-radius:0 0 4px 4px;
    border-top: none;
}

#binding>div>input{
    font-size:16px;
    color: #1a1a1a;
    width: 100%;
    background-color: #f1f3f3;
}

#binding button{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #67d2ca;
    font-size: 18px;
    padding:8px 0;
    text-align: center;
    border: none;
    font-family: "方正兰亭黑", "微软雅黑", sans-serif;
    color: white;
}